[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Densely Connected Convolutional Networks, In CVPR 2017 (Best Paper Award).
[access "refs/*"]
	owner = group user/doihara8wang
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/doihara8wang
	label-Verified = -1..+1 group user/doihara8wang
	push = group user/doihara8wang
	read = group user/doihara8wang
	rebase = group user/doihara8wang
	removeReviewer = group user/doihara8wang
	submit = group user/doihara8wang
[access "refs/heads/*"]
	create = group user/doihara8wang
	push = +force group user/doihara8wang
	pushMerge = group user/doihara8wang
	read = group user/doihara8wang
[access "refs/tags/*"]
	push = group user/doihara8wang
	push = +force group user/doihara8wang
